@model HalifaxScienceLibrary_Project.mothlyexpense_employee

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>mothlyexpense_employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.hours_worked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hours_worked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee.fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.monthly_expense.year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monthly_expense.year)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
