@model HalifaxScienceLibrary_Project.transaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer.fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.fname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.trn_code }) |
    @Html.ActionLink("Back to List", "Index")
</p>
