@model IEnumerable<HalifaxScienceLibrary_Project.monthly_expense>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.month)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cost_heat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cost_water)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cost_electricity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rent.year)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.month)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cost_heat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cost_water)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cost_electricity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rent.year)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.monthlyExpense_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.monthlyExpense_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.monthlyExpense_id })
        </td>
    </tr>
}

</table>
