

@model IEnumerable<HalifaxScienceLibrary_Project.customer>

@{
    ViewBag.Title = "Customers";
}

<h2>Customers</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cust_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone_num)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.discount_code)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cust_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone_num)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.discount_code)
        </td>
    </tr>
    }

</table>

<div>
    @Html.ActionLink("Back to List", "DisplayTables")
</div>

